Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fbc-v4-13-on-pull-request:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/fbc/fbc-v4-13:on-pr-{{revision}}
  - name: path-context
    value: v4.13
  - name: revision
  ...

fbc-v4-14-on-push:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/securesign/fbc-v4-14:{{revision}}
  - name: path-context
    value: v4.14
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    finally:
    - name: show-sbom
  ...

update-konflux-pipelines-to-use-refrences
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

update-cel-expressions
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: Updated timestamp file to 2024-12-05,09-49-51.
  trigger-konflux-builds.txt
Due: none

update-cel-expressions-for-trigger
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fix graph.yaml with olm deprication schema
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

use opm to generate catalog.json files
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

add version 1.1.1
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fix bundle version
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

add version 1.1.1 to stable channel
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

update-FBC-for-1.1.1
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: Updated timestamp file to 2025-01-21,13-33-02.
  trigger-konflux-builds.txt
Due: none

update FBC images for release 1.1.1
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fix: operator registry
  v4.13/catalog/rhtas-operator/catalog.json
  v4.14/catalog/rhtas-operator/catalog.json
  v4.15/catalog/rhtas-operator/catalog.json
  v4.16/catalog/rhtas-operator/catalog.json
  v4.17/catalog/rhtas-operator/catalog.json
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

update FBC images release 1.1.1
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

update segment-reporting-rhel9 SHA
  v4.13/catalog/rhtas-operator/catalog.json
  v4.14/catalog/rhtas-operator/catalog.json
  v4.15/catalog/rhtas-operator/catalog.json
  v4.16/catalog/rhtas-operator/catalog.json
  v4.17/catalog/rhtas-operator/catalog.json
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

update FBC images release 1.1.1 (#72)
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fix: change to redhat instead of quay registry
  v4.13/catalog/rhtas-operator/catalog.json
  v4.14/catalog/rhtas-operator/catalog.json
  v4.15/catalog/rhtas-operator/catalog.json
  v4.16/catalog/rhtas-operator/catalog.json
  v4.17/catalog/rhtas-operator/catalog.json
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

Red Hat Konflux update fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: fbc-v4-13-on-pull-request

rm-tekton-files
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

Red Hat Konflux purge fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: fbc-v4-13-on-pull-request

Red Hat Konflux update fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

increase comute resources
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

update pipeline refs
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

DummyPR
  v4.17/catalog.Dockerfile
Due: none

add helper scripts
  utils/configure_bundles.sh
  utils/configure_channels.sh
Due: none

update-images-for-1-1-1
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: Updated timestamp file to 2025-02-25,16-51-49.
  trigger-konflux-builds.txt
Due: none

Update catalog.Dockerfile
  v4.17/catalog.Dockerfile
Due: none

invoke all catalogs
  v4.13/catalog.Dockerfile
  v4.14/catalog.Dockerfile
  v4.15/catalog.Dockerfile
  v4.16/catalog.Dockerfile
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

migrate-to-newer-template-version
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

add-utils
  utils/configure_bundles.sh
  utils/configure_channels.sh
  utils/render_catalog.sh
  v4.13/graph.yaml
  v4.14/graph.yaml
  v4.15/graph.yaml
  v4.16/graph.yaml
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-06T09:47:23Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-06T10:46:03Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-06T12:35:28Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-14T11:03:06Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-19T13:41:08Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-19T14:48:44Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

add-image-digest-mirror-set-for-fips-check
  .tekton/images-mirror-set.yaml
Due: none

Path conditions:
  fbc-v4-13-on-pull-request: (any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)
  fbc-v4-14-on-push: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)
