Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push, fbc-v4-15-on-push, mvo-fbc-v4-14-on-pull-request, mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push, pco-fbc-v4-16-tech-preview-on-pull-request, pco-fbc-stage-v4-18-on-push

fbc-v4-13-on-pull-request:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/fbc-v4-13:on-pr-{{revision}}
  - name: path-context
    value: v4.13
  - name: revision
    value: '{{revision}}'
  ...

fbc-v4-13-on-push:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/securesign/fbc-v4-13:{{revision}}
  - name: path-context
    value: v4.13
  - name: revision
    value: '{{revision}}'
  pipelineRef:
    resolver: git
    params:
    - name: url
  ...

fbc-v4-14-on-push:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/securesign/fbc-v4-14:{{revision}}
  - name: path-context
    value: v4.14
  - name: revision
    value: '{{revision}}'
  pipelineRef:
    params:
    - name: url
  ...

fbc-v4-15-on-push:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/securesign/fbc-v4-15:{{revision}}
  - name: path-context
    value: v4.15/rhtas-operator
  - name: revision
    value: '{{revision}}'
  - name: ocp-release-version
  ...

mvo-fbc-v4-14-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/mvo-fbc-v4-14:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

mvo-fbc-v4-16-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/mvo-fbc-v4-16:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

mvo-fbc-stage-v4-18-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/mvo-fbc-v4-18:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

mvo-fbc-v4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/mvo-fbc-v4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
  ...

build: update pco images (#266)
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-v4-16-tech-preview-on-pull-request, pco-fbc-stage-v4-18-on-push

:robot: [main] [2026-02-25T11:20:12Z] Update Bundle image
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

:robot: [main] [2026-02-25T11:20:12Z] Update Bundle image (#223)
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

:robot: [main] [2026-02-27T10:17:54Z] Update Bundle image
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-v4-16-tech-preview-on-pull-request, pco-fbc-stage-v4-18-on-push

build: define upgarde path from tech-preview to stable
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-v4-16-tech-preview-on-pull-request, pco-fbc-stage-v4-18-on-push

build: define upgarde path from tech-preview to stable (#267)
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-v4-16-tech-preview-on-pull-request, pco-fbc-stage-v4-18-on-push

ManuaL MVO Rc
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

Updating Image references to registry coords
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request

MVO 0.0.3 Candidate (#269)
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

chore: Trigger pipeline on every push event
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
Due: none

chore: Trigger pipeline on every push event (#270)
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
Due: none

Revert "chore: Trigger pipeline on every push event (#270)"
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
Due: none

Revert "chore: Trigger pipeline on every push event (#270)" (#271)
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
Due: none

Updating bundle image hashes
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
  v4.20/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.20/rhtas-operator/graph.yaml
  v4.21/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.21/rhtas-operator/graph.yaml
Due: none

fix: Fix pipeline matcher
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
Due: none

fix: Fix pipeline matcher (#284)
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
Due: none

feat: update MVO 0.0.3 -> 1.0.0 FBC's
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

feat: update MVO 0.0.3 -> 1.0.0 FBC's (#287)
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

chore: update mvo fbc's
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

chore: update mvo fbc's (#288)
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

chore: down bump MVO to v0.1.0 TP
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

chore: down bump MVO to v0.1.0 TP (#293)
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

Adding Extra mirror target
  .github/workflows/create-release.yaml
Due: none

chore: add 1.0.1 pco entry
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-v4-16-tech-preview-on-pull-request, pco-fbc-stage-v4-18-on-push

add Qodo configuration
  .pr_agent.toml
Due: none

add Qodo configuration (#302)
  .pr_agent.toml
Due: none

Re-triggering v4.16
  v4.16/rhtas-operator/catalog.Dockerfile
Due: none

REtriggering build to refresh v4.16 for ec
  v4.16/rhtas-operator/catalog.Dockerfile
Due: none

Adding 4-22 build pipeline for rhtas
  .tekton/rhtas-fbc-v4-22-push.yaml
Due: none

Adding 4.22 Directories
  v4.22/model-validation-operator/catalog.Dockerfile
  v4.22/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.22/model-validation-operator/devfile.yaml
  v4.22/model-validation-operator/graph.yaml
  v4.22/model-validation-operator/licenses/license.txt
  v4.22/model-validation-operator/v4.21/.empty
  v4.22/policy-controller-operator/catalog.Dockerfile
  v4.22/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.22/policy-controller-operator/devfile.yaml
  v4.22/policy-controller-operator/graph.yaml
  v4.22/policy-controller-operator/licenses/license.txt
  v4.22/policy-controller-operator/v4.21/.empty
  v4.22/rhtas-operator/catalog.Dockerfile
  v4.22/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.22/rhtas-operator/devfile.yaml
  v4.22/rhtas-operator/graph.yaml
  v4.22/rhtas-operator/licenses/license.txt
  v4.22/rhtas-operator/v4.21/.empty
Due: none

Configuring v4.22
  v4.22/model-validation-operator/v4.22/.empty
  v4.22/policy-controller-operator/v4.22/.empty
  v4.22/rhtas-operator/v4.22/.empty
Due: none

Adding 4-22 build pipeline for rhtas (#307)
  .tekton/rhtas-fbc-v4-22-push.yaml
  v4.22/model-validation-operator/catalog.Dockerfile
  v4.22/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.22/model-validation-operator/devfile.yaml
  v4.22/model-validation-operator/graph.yaml
  v4.22/model-validation-operator/licenses/license.txt
  v4.22/model-validation-operator/v4.22/.empty
  v4.22/policy-controller-operator/catalog.Dockerfile
  v4.22/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.22/policy-controller-operator/devfile.yaml
  v4.22/policy-controller-operator/graph.yaml
  v4.22/policy-controller-operator/licenses/license.txt
  v4.22/policy-controller-operator/v4.22/.empty
  v4.22/rhtas-operator/catalog.Dockerfile
  v4.22/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.22/rhtas-operator/devfile.yaml
  v4.22/rhtas-operator/graph.yaml
  v4.22/rhtas-operator/licenses/license.txt
  v4.22/rhtas-operator/v4.22/.empty
Due: none

Revert "Adding 4-22 build pipeline for rhtas (#307)"
  .tekton/rhtas-fbc-v4-22-push.yaml
  v4.22/model-validation-operator/catalog.Dockerfile
  v4.22/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.22/model-validation-operator/devfile.yaml
  v4.22/model-validation-operator/graph.yaml
  v4.22/model-validation-operator/licenses/license.txt
  v4.22/model-validation-operator/v4.22/.empty
  v4.22/policy-controller-operator/catalog.Dockerfile
  v4.22/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.22/policy-controller-operator/devfile.yaml
  v4.22/policy-controller-operator/graph.yaml
  v4.22/policy-controller-operator/licenses/license.txt
  v4.22/policy-controller-operator/v4.22/.empty
  v4.22/rhtas-operator/catalog.Dockerfile
  v4.22/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.22/rhtas-operator/devfile.yaml
  v4.22/rhtas-operator/graph.yaml
  v4.22/rhtas-operator/licenses/license.txt
  v4.22/rhtas-operator/v4.22/.empty
Due: none

Removing Graphs
  v4.22/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.22/model-validation-operator/graph.yaml
  v4.22/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.22/policy-controller-operator/graph.yaml
  v4.22/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.22/rhtas-operator/graph.yaml
Due: none

Updating Synch Job
  .github/workflows/sync-catalog.yaml
Due: none

Path conditions:
  fbc-v4-13-on-pull-request: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-13-on-push: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-14-on-push: ((any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-15-on-push: ((any of: v4.15/rhtas-operator/***) or (any of: .tekton/fbc-v4-15-push.yaml)) or (any of: trigger-konflux-builds.txt)
  mvo-fbc-v4-14-on-pull-request: (any of: v4.14/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-14-pull-request.yaml)
  mvo-fbc-v4-16-on-pull-request: (any of: v4.16/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-16-pull-request.yaml)
  mvo-fbc-stage-v4-18-on-pull-request: (any of: v4.18/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-18-pull-request.yaml)
  mvo-fbc-v4-19-on-push: (any of: v4.19/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-19-push.yaml)
  pco-fbc-v4-16-tech-preview-on-pull-request: (any of: v4.16/policy-controller-operator/***) or (any of: .tekton/pco-fbc-v4-16-pull-request.yaml)
  pco-fbc-stage-v4-18-on-push: (any of: v4.18/policy-controller-operator/***) or (any of: .tekton/pco-fbc-v4-18-pull-request.yaml)
