Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fbc-v4-13-on-pull-request:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtas-tenant/fbc/fbc-v4-13:on-pr-{{revision}}
  - name: path-context
    value: v4.13
  - name: revision
  ...

fbc-v4-14-on-push:
  params:
  - name: dockerfile
    value: catalog.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/securesign/fbc-v4-14:{{revision}}
  - name: path-context
    value: v4.14
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    finally:
    - name: show-sbom
  ...

:robot: [main] [2025-03-19T15:20:24Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

rm whitespace
  .tekton/images-mirror-set.yaml
Due: none

:robot: [main] [2025-03-19T15:41:01Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

update-fbc-pipelines
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-20T09:39:56Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-20T10:36:26Z] Update Bundle image
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

fix-image-digest-mirror-set
  .tekton/images-mirror-set.yaml
Due: none

:robot: [main] [2025-03-20T11:37:48Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

:robot: [main] [2025-03-21T11:59:58Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

add-v4.18
  v4.18/catalog.Dockerfile
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/devfile.yaml
  v4.18/graph.yaml
  v4.18/licenses/license.txt
  v4.18/v4.18/.empty
Due: none

Red Hat Konflux update fbc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-pull-request.yaml
  .tekton/fbc-push.yaml
Due: none

Red Hat Konflux purge fbc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-pull-request.yaml
  .tekton/fbc-push.yaml
Due: none

Red Hat Konflux update fbc-v4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

update-v4-18-pipeline
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

:robot: [main] [2025-03-27T16:13:29Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-03-27T17:25:26Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-04-01T15:26:40Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

add project development resources
  .tekton/project_resources/devstream.yaml
  .tekton/project_resources/project.yaml
  .tekton/project_resources/template.yaml
Due: none

configure-builds-for-1-1-2
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

add-1-1-2-build
  .tekton/images-mirror-set.yaml
  utils/render_catalog.sh
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-04-08T10:05:12Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

trigger-build-of-4-15
  v4.15/catalog.Dockerfile
Due: none

add-v1-1-2-to-main
  utils/render_catalog.sh
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-04-16T13:36:26Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-04-17T12:20:23Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-04-28T09:43:38Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: Updated timestamp file to 2025-04-28,10-24-30.
  trigger-konflux-builds.txt
Due: none

Konflux build pipeline service account migration for fbc-v4-13 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: fbc-v4-13-on-pull-request

Konflux build pipeline service account migration for fbc-v4-14 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-push

Konflux build pipeline service account migration for fbc-v4-15 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

fix: set rhtas icon on olm.package objects
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-14-on-push

build: add v4.19, re add related images for 4.18
  v4.19/catalog.Dockerfile
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/devfile.yaml
  v4.19/graph.yaml
  v4.19/licenses/license.txt
  v4.19/v4.19/.empty
Due: none

Red Hat Konflux update fbc-v4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: none

ci: 4-19-day-two
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: none

ci: trigger v4-19 build
  v4.19/catalog.Dockerfile
Due: none

:robot: [main] [2025-06-23T13:13:37Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-06-24T17:12:35Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

Path conditions:
  fbc-v4-13-on-pull-request: (any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)
  fbc-v4-14-on-push: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)
