Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push, fbc-v4-15-on-push, mvo-fbc-v4-14-on-pull-request, mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push, pco-fbc-stage-v4-18-on-push

Path conditions:
  fbc-v4-13-on-pull-request: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-13-on-push: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-14-on-push: ((any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-15-on-push: ((any of: v4.15/rhtas-operator/***) or (any of: .tekton/fbc-v4-15-push.yaml)) or (any of: trigger-konflux-builds.txt)
  mvo-fbc-v4-14-on-pull-request: (any of: v4.14/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-14-pull-request.yaml)
  mvo-fbc-v4-16-on-pull-request: (any of: v4.16/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-16-pull-request.yaml)
  mvo-fbc-stage-v4-18-on-pull-request: (any of: v4.18/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-18-pull-request.yaml)
  mvo-fbc-v4-19-on-push: (any of: v4.19/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-19-push.yaml)
  pco-fbc-stage-v4-18-on-push: (any of: v4.18/policy-controller-operator/***) or (any of: .tekton/pco-fbc-v4-18-pull-request.yaml)

Red Hat Konflux purge pco-fbc-v4-21
  .tekton/pco-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-21-push.yaml
Due: none

pco: trigger build
  v4.16/policy-controller-operator/catalog.Dockerfile
  v4.17/policy-controller-operator/catalog.Dockerfile
  v4.18/policy-controller-operator/catalog.Dockerfile
  v4.19/policy-controller-operator/catalog.Dockerfile
  v4.20/policy-controller-operator/catalog.Dockerfile
  v4.21/policy-controller-operator/catalog.Dockerfile
Due: pco-fbc-stage-v4-18-on-push

Updating Deprecations in fbc v4-15
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
Due: fbc-v4-15-on-push

Removing 1.3 from 4-15 catalogue
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
Due: fbc-v4-15-on-push

feat: add catalog sync job
  .github/workflows/sync-catalog.yaml
  generate-fbc.sh
  utils/sync.sh
Due: none

fbc: update tekton files, add catalog for 4.20, 4.21
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-18-push.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-19-push.yaml
  .tekton/pco-fbc-v4-20-pull-request.yaml
  .tekton/pco-fbc-v4-20-push.yaml
  .tekton/pco-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-21-push.yaml
  v4.20/policy-controller-operator/catalog.Dockerfile
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/devfile.yaml
  v4.20/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/licenses/license.txt
  v4.20/policy-controller-operator/v4.20/.empty
  v4.21/policy-controller-operator/catalog.Dockerfile
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/devfile.yaml
  v4.21/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/licenses/license.txt
  v4.21/policy-controller-operator/v4.21/.empty
Due: pco-fbc-stage-v4-18-on-push

Regenerating Catalogue
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
Due: fbc-v4-15-on-push

chore: Updating Deprecations in fbc v4-15 for 1.2.2 (#240)
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
Due: fbc-v4-15-on-push

feat: add catalog sync job
  .github/workflows/sync-catalog.yaml
  generate-fbc.sh
  utils/sync_graph.sh
Due: none

test
  .idea/vcs.xml
  .idea/workspace.xml
  fbc-preflight-testing-steps
Due: none

pco: trigger build (#238)
  v4.16/policy-controller-operator/catalog.Dockerfile
  v4.17/policy-controller-operator/catalog.Dockerfile
  v4.18/policy-controller-operator/catalog.Dockerfile
  v4.19/policy-controller-operator/catalog.Dockerfile
  v4.20/policy-controller-operator/catalog.Dockerfile
  v4.21/policy-controller-operator/catalog.Dockerfile
Due: pco-fbc-stage-v4-18-on-push

add legacy OCPs
  .github/workflows/sync-catalog.yaml
  v4.13/rhtas-operator/catalog.Dockerfile
  v4.13/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.13/rhtas-operator/devfile.yaml
  v4.13/rhtas-operator/graph.yaml
  v4.13/rhtas-operator/licenses/license.txt
  v4.14/rhtas-operator/catalog.Dockerfile
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/devfile.yaml
  v4.14/rhtas-operator/graph.yaml
  v4.14/rhtas-operator/licenses/license.txt
Due: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push

:robot: [main] [2026-02-17T14:49:07Z] Update Bundle image
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

fbc: add 0.0.2-tech-preview
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

feat: add catalog sync job
  .github/workflows/sync-catalog.yaml
  generate-fbc.sh
Due: none

fix: update branch for KONFLUX-12211
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

chore: update tekton files
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  .tekton/fbc-v4-21-push.yaml
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-20-pull-request.yaml
  .tekton/mvo-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-21-pull-request.yaml
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
  README.md
  trigger-konflux-builds.txt
Due: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push, fbc-v4-15-on-push, mvo-fbc-stage-v4-18-on-pull-request

feat: add catalog sync job (#239)
  .github/workflows/sync-catalog.yaml
  generate-fbc.sh
Due: none

chore: update tekton files (#244)
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  .tekton/fbc-v4-21-push.yaml
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-20-pull-request.yaml
  .tekton/mvo-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-21-pull-request.yaml
  .tekton/rhtas-fbc-v4-15-push.yaml
  .tekton/rhtas-fbc-v4-16-push.yaml
  .tekton/rhtas-fbc-v4-17-push.yaml
  .tekton/rhtas-fbc-v4-18-push.yaml
  .tekton/rhtas-fbc-v4-19-push.yaml
  .tekton/rhtas-fbc-v4-20-push.yaml
  .tekton/rhtas-fbc-v4-21-push.yaml
  README.md
  trigger-konflux-builds.txt
Due: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push, fbc-v4-15-on-push, mvo-fbc-stage-v4-18-on-pull-request

fix: restore pull-request files for pco and mvo
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-16-pull-request.yaml
  .tekton/mvo-fbc-v4-17-pull-request.yaml
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-20-pull-request.yaml
  .tekton/mvo-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-20-pull-request.yaml
  .tekton/pco-fbc-v4-21-pull-request.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, pco-fbc-stage-v4-18-on-push

Add PCO 0.0.2-tech-preview (#246)
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

fix: revert personal namespace
  .tekton/rhtas-fbc-v4-20-push.yaml
Due: none

fix: restore pull-request files for pco and mvo (#253)
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-16-pull-request.yaml
  .tekton/mvo-fbc-v4-17-pull-request.yaml
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-20-pull-request.yaml
  .tekton/mvo-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-20-pull-request.yaml
  .tekton/pco-fbc-v4-21-pull-request.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, pco-fbc-stage-v4-18-on-push

feat: crete-release gh action
  .github/workflows/create-release.yaml
  .github/workflows/trigger-konflux-build.yaml
Due: none

feat: crete-release gh action
  .github/actions/install-opm/action.yaml
  .github/workflows/create-release.yaml
  .github/workflows/sync-catalog.yaml
  .github/workflows/trigger-konflux-build.yaml
Due: none

feat: crete-release gh action
  .github/workflows/create-release.yaml
  README.md
Due: none

feat: crete-release gh action
  .github/actions/install-opm/action.yaml
  .github/workflows/create-release.yaml
  .github/workflows/sync-catalog.yaml
  .github/workflows/trigger-konflux-build.yaml
  README.md
Due: none

feat: crete-release gh action (#256)
  .github/actions/install-opm/action.yaml
  .github/workflows/create-release.yaml
  .github/workflows/sync-catalog.yaml
  .github/workflows/trigger-konflux-build.yaml
  README.md
Due: none

build: pco tech preview update bundle image
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

build: revert build pipelines for v4.16
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
Due: none

build: pco tech preview update bundle image (#260)
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

chore: use GH bot app
  .github/workflows/sync-catalog.yaml
Due: none

chore: use GH bot app (#261)
  .github/workflows/sync-catalog.yaml
Due: none

fix: generate_token id
  .github/workflows/sync-catalog.yaml
Due: none

fix: generate_token id (#262)
  .github/workflows/sync-catalog.yaml
Due: none

fix: normalize graph files to limit diffs
  .github/workflows/sync-catalog.yaml
Due: none

fix: normalize graph files to limit diffs (#264)
  .github/workflows/sync-catalog.yaml
Due: none

build: update pco images
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push
