Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push

Path conditions:
  fbc-v4-13-on-pull-request: (any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)
  fbc-v4-13-on-push: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-14-on-push: ((any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)) or (any of: trigger-konflux-builds.txt)

:robot: [main] [2025-06-25T10:26:41Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

:robot: Updated timestamp file to 2025-06-25,10-45-27.
  trigger-konflux-builds.txt
Due: fbc-v4-13-on-push, fbc-v4-14-on-push

:robot: [main] [2025-06-27T16:58:45Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-07-01T13:32:49Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-07-10T20:36:13Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-07-11T12:36:40Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

Updating File for 1.1.0 release
  v4.13/catalog/rhtas-operator/catalog.json
  v4.13/graph.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-13-on-push

Adding v1.13 to update channels
  v4.14/graph.yaml
  v4.15/graph.yaml
  v4.16/graph.yaml
  v4.17/graph.yaml
  v4.18/graph.yaml
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

Adding 1.1.3 channel
  v4.14/graph.yaml
  v4.15/graph.yaml
  v4.16/graph.yaml
  v4.17/graph.yaml
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-07-22T08:58:21Z] Update Bundle image
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

ci: update utils script
  utils/render_catalog.sh
Due: none

Adding v1.2.1 Channel
  v4.14/graph.yaml
  v4.15/graph.yaml
  v4.16/graph.yaml
  v4.17/graph.yaml
  v4.18/graph.yaml
Due: fbc-v4-14-on-push

Adding v1.2 Channels
  .tekton/project_resources/devstream.yaml
Due: none

Adding 1.2 Devstream
  .tekton/project_resources/devstream.yaml
Due: none

Adding 4-19 support
  .tekton/project_resources/devstream.yaml
Due: none

Adding V4.19
  v4.19/catalog.Dockerfile
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/devfile.yaml
  v4.19/graph.yaml
  v4.19/licenses/license.txt
  v4.19/v4.19/.empty
Due: none

:robot: [main] [2025-07-24T11:33:21Z] Update Bundle image
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/graph.yaml
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
  v4.16/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.16/rhtas-operator/graph.yaml
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
Due: fbc-v4-14-on-push

build: add-pol-ctrl-opp-fbc
  .tekton/images-mirror-set.yaml
  v4.14/policy-controller-operator/catalog.Dockerfile
  v4.14/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.14/policy-controller-operator/devfile.yaml
  v4.14/policy-controller-operator/graph.yaml
  v4.14/policy-controller-operator/licenses/license.txt
  v4.14/policy-controller-operator/v4.14/.empty
  v4.15/policy-controller-operator/catalog.Dockerfile
  v4.15/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.15/policy-controller-operator/devfile.yaml
  v4.15/policy-controller-operator/graph.yaml
  v4.15/policy-controller-operator/licenses/license.txt
  v4.15/policy-controller-operator/v4.15/.empty
  v4.16/policy-controller-operator/catalog.Dockerfile
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/devfile.yaml
  v4.16/policy-controller-operator/graph.yaml
  v4.16/policy-controller-operator/licenses/license.txt
  v4.16/policy-controller-operator/v4.16/.empty
  v4.17/policy-controller-operator/catalog.Dockerfile
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/devfile.yaml
  v4.17/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/licenses/license.txt
  v4.17/policy-controller-operator/v4.17/.empty
  v4.18/policy-controller-operator/catalog.Dockerfile
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/devfile.yaml
  v4.18/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/licenses/license.txt
  v4.18/policy-controller-operator/v4.18/.empty
  v4.19/policy-controller-operator/catalog.Dockerfile
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/devfile.yaml
  v4.19/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/licenses/license.txt
  v4.19/policy-controller-operator/v4.19/.empty
Due: fbc-v4-14-on-push

build: update to latest bundle image
  v4.14/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.14/policy-controller-operator/graph.yaml
  v4.15/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.15/policy-controller-operator/graph.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: fbc-v4-14-on-push

Red Hat Konflux update pco-fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pco-fbc-v4-14-pull-request.yaml
  .tekton/pco-fbc-v4-14-push.yaml
Due: none

Red Hat Konflux update pco-fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-15-push.yaml
Due: none

Red Hat Konflux update pco-fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
Due: none

Red Hat Konflux update pco-fbc-v4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-17-push.yaml
Due: none

Red Hat Konflux update pco-fbc-v4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-18-push.yaml
Due: none

Red Hat Konflux update pco-fbc-v4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-19-push.yaml
Due: none

fix: update builder image
  v4.16/policy-controller-operator/catalog.Dockerfile
Due: none

fix: update builder image
  v4.15/policy-controller-operator/catalog.Dockerfile
Due: none

fix: fix rhtas-v4.19-CEL-expr
  .tekton/fbc-v4-19-push.yaml
Due: none

build: konflux-day-two
  .tekton/pco-fbc-v4-14-pull-request.yaml
  .tekton/pco-fbc-v4-14-push.yaml
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-15-push.yaml
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-17-push.yaml
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-18-push.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-19-push.yaml
Due: none

Red Hat Konflux update fbc-v4-19-v1-2 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-19-v1-2-pull-request.yaml
  .tekton/fbc-v4-19-v1-2-push.yaml
Due: none

ci: update konflux refs
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: fbc-v4-14-on-push

ci: fix 4.19
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-19-v1-2-pull-request.yaml
  .tekton/fbc-v4-19-v1-2-push.yaml
Due: fbc-v4-14-on-push

Generating fbc's for 1.2
  v4.14/catalog/rhtas-operator/catalog.json
  v4.14/graph.yaml
  v4.15/catalog/rhtas-operator/catalog.json
  v4.15/graph.yaml
  v4.16/catalog/rhtas-operator/catalog.json
  v4.16/graph.yaml
  v4.17/catalog/rhtas-operator/catalog.json
  v4.17/graph.yaml
  v4.18/catalog/rhtas-operator/catalog.json
  v4.18/graph.yaml
  v4.19/catalog/rhtas-operator/catalog.json
  v4.19/graph.yaml
Due: fbc-v4-14-on-push

Updating pipelines revision
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-v1-2-pull-request.yaml
  .tekton/fbc-v4-19-v1-2-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push

Removing params from 4-19
  .tekton/fbc-v4-19-v1-2-pull-request.yaml
  .tekton/fbc-v4-19-v1-2-push.yaml
Due: none

:robot: [main] [2025-08-11T11:23:06Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.14/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.14/policy-controller-operator/graph.yaml
  v4.15/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.15/policy-controller-operator/graph.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-08-11T11:33:21Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.14/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.14/policy-controller-operator/graph.yaml
  v4.15/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.15/policy-controller-operator/graph.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-08-11T11:33:54Z] Update Bundle image
  .tekton/images-mirror-set.yaml
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/graph.yaml
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
  v4.16/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.16/rhtas-operator/graph.yaml
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
Due: fbc-v4-14-on-push
