Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push

Path conditions:
  fbc-v4-13-on-pull-request: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-13-on-push: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-14-on-push: ((any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)) or (any of: trigger-konflux-builds.txt)

Red Hat Konflux update mvo-fbc-v4-15
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-15-push.yaml
Due: none

pipeline tweak
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-15-push.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
Due: none

Red Hat Konflux update mvo-fbc-v4-16
  .tekton/mvo-fbc-v4-16-pull-request.yaml
  .tekton/mvo-fbc-v4-16-push.yaml
Due: none

pipeline tweak
  .tekton/mvo-fbc-v4-16-pull-request.yaml
  .tekton/mvo-fbc-v4-16-push.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
Due: none

Red Hat Konflux update mvo-fbc-v4-17
  .tekton/mvo-fbc-v4-17-pull-request.yaml
  .tekton/mvo-fbc-v4-17-push.yaml
Due: none

pipeline tweak
  .tekton/mvo-fbc-v4-17-pull-request.yaml
  .tekton/mvo-fbc-v4-17-push.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
Due: none

Red Hat Konflux update mvo-fbc-v4-18
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-18-push.yaml
Due: none

pipeline tweak
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-18-push.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
Due: none

Red Hat Konflux update mvo-fbc-v4-19
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-19-push.yaml
Due: none

pipeline tweak
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-19-push.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: none

ci: update channels script
  utils/configure_channels.sh
Due: none

:robot: [main] [2025-09-11T10:54:33Z] Update Bundle image
  v4.14/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.14/policy-controller-operator/graph.yaml
  v4.15/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.15/policy-controller-operator/graph.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-09-12T10:32:46Z] Update Bundle image
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/graph.yaml
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
  v4.16/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.16/rhtas-operator/graph.yaml
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-09-15T07:32:03Z] Update Bundle image
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/graph.yaml
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
  v4.16/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.16/rhtas-operator/graph.yaml
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
Due: fbc-v4-14-on-push

chore: updating MVO fbc's
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

chore: updating MVO fbc's (#178)
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

chore: update MVO fbc's
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

chore: update MVO fbc's (#180)
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

fix
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
Due: none

Mvo update (#181)
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-09-23T14:04:25Z] Update Bundle image
  v4.14/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.14/policy-controller-operator/graph.yaml
  v4.15/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.15/policy-controller-operator/graph.yaml
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: fbc-v4-14-on-push

ci: trigger build
  v4.16/policy-controller-operator/catalog.Dockerfile
Due: none

chore: updating mvo
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

test
  .tekton/mvo-fbc-v4-14-pull-request.yaml
Due: none

chore: updating mvo (#184)
  .tekton/mvo-fbc-v4-14-pull-request.yaml
  v4.14/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.14/model-validation-operator/graph.yaml
  v4.15/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.15/model-validation-operator/graph.yaml
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
Due: fbc-v4-14-on-push

MVO 4.15 build
  v4.15/model-validation-operator/licenses/license.txt
Due: none

MVO 4.15 build (#185)
  v4.15/model-validation-operator/licenses/license.txt
Due: none

:robot: [main] [2025-09-29T19:37:32Z] Update Bundle image
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/graph.yaml
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
  v4.16/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.16/rhtas-operator/graph.yaml
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
Due: fbc-v4-14-on-push

:robot: [main] [2025-09-30T11:37:13Z] Update Bundle image
  v4.14/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.14/rhtas-operator/graph.yaml
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
  v4.16/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.16/rhtas-operator/graph.yaml
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
  v4.18/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.18/rhtas-operator/graph.yaml
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.19/rhtas-operator/graph.yaml
Due: fbc-v4-14-on-push

fbc: add support for v4.20
  v4.20/model-validation-operator/catalog.Dockerfile
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/devfile.yaml
  v4.20/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/licenses/license.txt
  v4.20/model-validation-operator/v4.20/.empty
  v4.20/policy-controller-operator/catalog.Dockerfile
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/devfile.yaml
  v4.20/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/licenses/license.txt
  v4.20/policy-controller-operator/v4.20/.empty
  v4.20/rhtas-operator/catalog.Dockerfile
  v4.20/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.20/rhtas-operator/devfile.yaml
  v4.20/rhtas-operator/graph.yaml
  v4.20/rhtas-operator/licenses/license.txt
  v4.20/rhtas-operator/v4.20/.empty
Due: none

fbc: add ocp-release-version param for labels
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/mvo-fbc-v4-14-pull-request.yaml
  .tekton/mvo-fbc-v4-14-push.yaml
  .tekton/mvo-fbc-v4-15-pull-request.yaml
  .tekton/mvo-fbc-v4-15-push.yaml
  .tekton/mvo-fbc-v4-16-pull-request.yaml
  .tekton/mvo-fbc-v4-16-push.yaml
  .tekton/mvo-fbc-v4-17-pull-request.yaml
  .tekton/mvo-fbc-v4-17-push.yaml
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-18-push.yaml
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-19-push.yaml
  .tekton/pco-fbc-v4-14-pull-request.yaml
  .tekton/pco-fbc-v4-14-push.yaml
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-15-push.yaml
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-17-push.yaml
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-18-push.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-19-push.yaml
Due: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push

[DO NOT MERGE] invoke test pipeline
  v4.19/rhtas-operator/v4.19/.empty
Due: none

:robot: [main] [2025-10-16T13:12:02Z] Update Bundle image
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: none

fbc: mvo-add-support-for-4.20
  .tekton/mvo-fbc-v4-16-pull-request.yaml
  .tekton/mvo-fbc-v4-16-push.yaml
  .tekton/mvo-fbc-v4-17-pull-request.yaml
  .tekton/mvo-fbc-v4-17-push.yaml
  .tekton/mvo-fbc-v4-18-pull-request.yaml
  .tekton/mvo-fbc-v4-18-push.yaml
  .tekton/mvo-fbc-v4-19-pull-request.yaml
  .tekton/mvo-fbc-v4-19-push.yaml
  v4.20/model-validation-operator/catalog.Dockerfile
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/devfile.yaml
  v4.20/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/licenses/license.txt
  v4.20/model-validation-operator/v4.20/.empty
Due: none

fbc: add ocp release labels, add 4.20
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-17-push.yaml
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-18-push.yaml
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-19-push.yaml
  v4.20/policy-controller-operator/catalog.Dockerfile
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/devfile.yaml
  v4.20/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/licenses/license.txt
  v4.20/policy-controller-operator/v4.20/.empty
Due: none
