Repository securesign/fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-13-on-pull-request, fbc-v4-13-on-push, fbc-v4-14-on-push, fbc-v4-15-on-push, mvo-fbc-v4-14-on-pull-request, mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push, pco-fbc-stage-v4-18-on-push

Path conditions:
  fbc-v4-13-on-pull-request: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-pull-request.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-13-on-push: ((any of: v4.13/***) or (any of: .tekton/fbc-v4-13-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-14-on-push: ((any of: v4.14/***) or (any of: .tekton/fbc-v4-14-push.yaml)) or (any of: trigger-konflux-builds.txt)
  fbc-v4-15-on-push: ((any of: v4.15/rhtas-operator/***) or (any of: .tekton/fbc-v4-15-push.yaml)) or (any of: trigger-konflux-builds.txt)
  mvo-fbc-v4-14-on-pull-request: (any of: v4.14/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-14-pull-request.yaml)
  mvo-fbc-v4-16-on-pull-request: (any of: v4.16/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-16-pull-request.yaml)
  mvo-fbc-stage-v4-18-on-pull-request: (any of: v4.18/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-18-pull-request.yaml)
  mvo-fbc-v4-19-on-push: (any of: v4.19/model-validation-operator/***) or (any of: .tekton/mvo-fbc-v4-19-push.yaml)
  pco-fbc-stage-v4-18-on-push: (any of: v4.18/policy-controller-operator/***) or (any of: .tekton/pco-fbc-v4-18-pull-request.yaml)

fix: update configure_channels script so that it can handle multiple streams
  utils/configure_channels.sh
Due: none

fix: handle skips for new entries
  utils/configure_channels.sh
Due: none

Test Run of Pr
  v4.19/rhtas-operator/catalog/rhtas-operator/catalog.json
Due: none

:robot: [main] [2026-01-30T11:33:10Z] Update Bundle image
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

Updating 1.3.2 Upgrades
  v4.17/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.17/rhtas-operator/graph.yaml
Due: none

fix: fix behaviour when removing replace from skips leaves an empty list
  utils/configure_channels.sh
Due: none

fix: ensure we skip only current and previous minor, and replace in situ
  utils/configure_channels.sh
Due: none

fix: add upgrade path from tech-preview to stable
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
Due: none

feat: add workflow for generating a production FBC from the main staging branch
  .github/workflows/create-production-pr.yaml
  .tekton/fbc-v4-14-production-push.yaml
  .tekton/fbc-v4-15-production-push.yaml
  .tekton/fbc-v4-16-production-push.yaml
  .tekton/fbc-v4-17-production-push.yaml
  .tekton/fbc-v4-18-production-push.yaml
  .tekton/fbc-v4-19-production-push.yaml
  .tekton/fbc-v4-20-production-push.yaml
  utils/filter_for_production.sh
Due: none

:robot: [main] [2026-02-09T16:07:48Z] Update Bundle image
  v4.16/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.16/model-validation-operator/graph.yaml
  v4.17/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.17/model-validation-operator/graph.yaml
  v4.18/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.18/model-validation-operator/graph.yaml
  v4.19/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.19/model-validation-operator/graph.yaml
  v4.20/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.20/model-validation-operator/graph.yaml
Due: mvo-fbc-v4-16-on-pull-request, mvo-fbc-stage-v4-18-on-pull-request, mvo-fbc-v4-19-on-push

Red Hat Konflux update fbc-v4-21
  .tekton/fbc-v4-21-pull-request.yaml
  .tekton/fbc-v4-21-push.yaml
Due: none

Red Hat Konflux update pco-fbc-v4-21
  .tekton/pco-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-21-push.yaml
Due: none

Red Hat Konflux update mvo-fbc-v4-21
  .tekton/mvo-fbc-v4-21-pull-request.yaml
  .tekton/mvo-fbc-v4-21-push.yaml
Due: none

chore: add v4.21 fbcs for operators
  .tekton/fbc-v4-21-pull-request.yaml
  .tekton/fbc-v4-21-push.yaml
  .tekton/mvo-fbc-v4-21-pull-request.yaml
  .tekton/mvo-fbc-v4-21-push.yaml
  .tekton/pco-fbc-v4-21-pull-request.yaml
  .tekton/pco-fbc-v4-21-push.yaml
  v4.21/model-validation-operator/catalog.Dockerfile
  v4.21/model-validation-operator/catalog/model-validation-operator/catalog.json
  v4.21/model-validation-operator/devfile.yaml
  v4.21/model-validation-operator/graph.yaml
  v4.21/model-validation-operator/licenses/license.txt
  v4.21/model-validation-operator/v4.21/.empty
  v4.21/policy-controller-operator/catalog.Dockerfile
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/devfile.yaml
  v4.21/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/licenses/license.txt
  v4.21/policy-controller-operator/v4.21/.empty
  v4.21/rhtas-operator/catalog.Dockerfile
  v4.21/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.21/rhtas-operator/devfile.yaml
  v4.21/rhtas-operator/graph.yaml
  v4.21/rhtas-operator/licenses/license.txt
  v4.21/rhtas-operator/v4.21/.empty
Due: none

test: do not merge
  v4.19/policy-controller-operator/catalog.Dockerfile
Due: none

:robot: [main] [2026-02-12T13:09:58Z] Update Bundle image
  v4.16/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.16/policy-controller-operator/graph.yaml
  v4.17/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.17/policy-controller-operator/graph.yaml
  v4.18/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.18/policy-controller-operator/graph.yaml
  v4.19/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.19/policy-controller-operator/graph.yaml
  v4.20/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.20/policy-controller-operator/graph.yaml
  v4.21/policy-controller-operator/catalog/policy-controller-operator/catalog.json
  v4.21/policy-controller-operator/graph.yaml
Due: pco-fbc-stage-v4-18-on-push

chore: add 1.2.2 entries
  v4.15/rhtas-operator/catalog/rhtas-operator/catalog.json
  v4.15/rhtas-operator/graph.yaml
Due: fbc-v4-15-on-push

Red Hat Konflux purge pco-fbc-v4-15
  .tekton/pco-fbc-v4-15-pull-request.yaml
  .tekton/pco-fbc-v4-15-push.yaml
Due: none

Red Hat Konflux purge pco-fbc-v4-16
  .tekton/pco-fbc-v4-16-pull-request.yaml
  .tekton/pco-fbc-v4-16-push.yaml
Due: none

Red Hat Konflux purge pco-fbc-v4-17
  .tekton/pco-fbc-v4-17-pull-request.yaml
  .tekton/pco-fbc-v4-17-push.yaml
Due: none

Red Hat Konflux purge pco-fbc-v4-18
  .tekton/pco-fbc-v4-18-pull-request.yaml
  .tekton/pco-fbc-v4-18-push.yaml
Due: pco-fbc-stage-v4-18-on-push

Red Hat Konflux purge pco-fbc-v4-19
  .tekton/pco-fbc-v4-19-pull-request.yaml
  .tekton/pco-fbc-v4-19-push.yaml
Due: none

Red Hat Konflux purge pco-fbc-v4-20
  .tekton/pco-fbc-v4-20-pull-request.yaml
  .tekton/pco-fbc-v4-20-push.yaml
Due: none
